# Python Practice Worksheet

## Part 1 - Variables and Input

### Q1

In [4]:
a = input("Please enter you name - ")
print(f"Hello {a}, welcome to Python!")

Please enter you name - Puneet
Hello Puneet, welcome to Python!

### Q2

In [5]:
b = int(input("What is your age? "))
print(f"Next year you will be {b+1} years old.")

What is your age? 23
Next year you will be 24 years old.

### Q3

In [7]:
print("Give two numbers - ")
c = int(input())
d = int(input())
print(c+d)

Give two numbers -
1
22
23

## Part 2 - If / Else (Decision Making)

### Q4

In [10]:
e = int(input())
if (e % 2 == 0):
  print("Even number")
else:
  print("Odd number")

22
Even number

### Q5

In [13]:
f = int(input())
if (f >= 90):
  print("Grade A")
elif (f >= 60):
  print("Grade B")
else:
  print("Grade C")

54
Grade C

### Q6

In [15]:
g = input("Enter password - ")
if (g == "python123"):
  print("Access granted")
else:
  print("Wrong password")

Enter password - python123
Access granted

## Part 3 - Loops

### Q7

In [16]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

### Q8

In [18]:
for i in range(2, 21, 2):
  print(i)

2
4
6
8
10
12
14
16
18
20

### Q9

In [21]:
n = int(input("Enter a number - "))
for i in range(1, n+1):
  print(i)

Enter a number - 3
1
2
3

### Q10

In [22]:
star = "*"
for i in range(1, 6):
  print(i*star)

*
**
***
****
*****

## Part 4 - Logic Building

### Q11

In [23]:
number = int(input("Enter a number - "))
for i in range(1, 11):
  print(f"{i} * {number} = {i*number}")

Enter a number - 2
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

### Q12

In [32]:
actual = 8
bol = False
for i in range(3):
  inp = int(input("Enter a number - "))
  if (inp==actual):
    print("You won")
    bol = True
    break


if (bol==False):
  print("You lost")

Enter a number - 1
Enter a number - 2
Enter a number - 8
You won

## Part 5 - Functions

### Q13

In [33]:
def greet(x):
  print(f"Hello {x}!")

greet("Puneet")

Hello Puneet!

### Q14

In [35]:
def square(n):
  print(n*n)

square(15)

225

### Q15

In [38]:
def is_even(n):
  if (n % 2 == 0):
    print("Even")
  else:
    print("Odd")

is_even(0)

Even

## Bonus Challenges

### B1

In [40]:
a = input("Enter a number - ")
print(a[::-1])

Enter a number - 123
321

### B2

In [44]:
a = "aeiou"
count = 0
name = input("Your name - ")
for i in name:
  if (i in a):
    count = count + 1
print(count)

Your name - hello
2

### B3

In [46]:
print("Enter 5 numbers - ")
a = int(input())
b = int(input())
c = int(input())
d = int(input())
e = int(input())
l = []
l.append(a)
l.append(b)
l.append(c)
l.append(d)
l.append(e)
l.sort()
print(l[-1])

Enter 5 numbers -
2
3
45
0
-1
45